.register .register-form {
  display: flex;
  flex-direction: column;
}

.register {
  border: solid 1px #ccc;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 5px;
}

.register-form {
  &__input {
    height: 40px;
    width: 400px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
  }

  &__btn {
    background-color: #000;
    color: #fff;
    margin: 10px 0px;
    font-size: 16px;
    padding: 20px 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 250ms ease-in-out 0.1s;

    &:hover {
      background-color: #222222;
    }
  }
}

.error-text {
  font-size: 12px;
  margin-top: -10px;
  color: rgb(168, 5, 5);
  transition: all 250ms ease-in-out 0.1s;
}